In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("NYPD_Shooting_Incident_Data__Historic_.csv")

In [3]:
data.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,169180023,09/09/2017 12:00:00 AM,3:57:00,STATEN ISLAND,120,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,959975,171772,40.638126,-74.087467
1,169180027,09/09/2017 12:00:00 AM,22:15:00,BRONX,50,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,1011288,255912,40.869061,-73.902242
2,169180025,09/09/2017 12:00:00 AM,18:35:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,999888,193014,40.696450,-73.943607
3,169180024,09/09/2017 12:00:00 AM,15:20:00,BROOKLYN,67,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,997784,172132,40.639137,-73.951236
4,169180022,09/09/2017 12:00:00 AM,0:20:00,BROOKLYN,61,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,ASIAN / PACIFIC ISLANDER,1001019,156467,40.596134,-73.939619

In [4]:
data_econ = pd.read_excel('econ.xlsx')

In [5]:
data_econ.head()

,GeoType,GeogName,GeoID,Borough,Pop16plE,Pop16plM,Pop16plC,Pop16plP,Pop16plZ,LFE,...,Pv400t499E,Pv400t499M,Pv400t499C,Pv400t499P,Pv400t499Z,Pv500plE,Pv500plM,Pv500plC,Pv500plP,Pv500plZ
0,NTA2010,Bath Beach,BK27,Brooklyn,26855,943.0,2.1,100.0,NaN,16006,...,3464,434.0,7.6,10.5,1.3,8268,599.0,4.4,25.1,1.6
1,NTA2010,Bay Ridge,BK31,Brooklyn,65479,1260.0,1.2,100.0,NaN,42176,...,7564,572.0,4.6,9.6,0.7,28491,1041.0,2.2,36.1,1.1
2,NTA2010,Bedford,BK75,Brooklyn,54904,1390.0,1.5,100.0,NaN,36993,...,5175,561.0,6.6,6.9,0.7,12144,846.0,4.2,16.2,1.0
3,NTA2010,Bensonhurst East,BK29,Brooklyn,52857,1307.0,1.5,100.0,NaN,32004,...,5634,522.0,5.6,8.8,0.8,12868,812.0,3.8,20.1,1.2
4,NTA2010,Bensonhurst West,BK28,Brooklyn,74470,1568.0,1.3,100.0,NaN,45842,...,7969,641.0,4.9,8.7,0.7,17583,934.0,3.2,19.2,0.9

In [6]:
new_data_econ = data_econ[['GeogName','Borough','CvEm16pl1E','CvEm16pl1P','CvLFUEm1E','CvLFUEm1P', 'MdHHIncE']]

In [7]:
new_data_econ.rename(columns ={'CvEm16pl1E':'Employed',
                               'CvEm16pl1P':'Employed_%',
                               'CvLFUEm1E':'Unemployed',
                               'CvLFUEm1P':'Unemployed_%',
                               'MdHHIncE':'Median_income'
                              })

,GeogName,Borough,Employed,Employed_%,Unemployed,Unemployed_%,Median_income
0,Bath Beach,Brooklyn,14857,55.3,1128,4.2,58243.0
1,Bay Ridge,Brooklyn,38906,59.4,3151,4.8,63539.0
2,Bedford,Brooklyn,32339,58.9,4621,8.4,39970.0
3,Bensonhurst East,Brooklyn,29258,55.4,2725,5.2,48097.0
4,Bensonhurst West,Brooklyn,41784,56.1,4049,5.4,51035.0
5,Borough Park,Brooklyn,36796,54.2,2237,3.3,36893.0
6,Brighton Beach,Brooklyn,14116,49.6,1196,4.2,35699.0
7,Brooklyn Heights-Cobble Hill,Brooklyn,13873,65.7,545,2.6,116189.0
8,Brownsville,Brooklyn,19893,43.8,3581,7.9,24504.0
9,Bushwick North,Brooklyn,30751,63.3,4444,9.2,46485.0
10,Bushwick South,Brooklyn,35371,58.1,5184,8.5,39733.0
11,Canarsie,Brooklyn,42956,60.7,3975,5.6,62263.0
12,Carroll Gardens-Columbia Street-Red Hook,Brooklyn,22888,66.4,2041,5.9,91757.0
13,Clinton Hill,Brooklyn,21019,65.7,1810,5.7,72799.0
14,Crown Heights North,Brooklyn,50967,57.9,5247,6.0,40678.0
15,Crown Heights South,Brooklyn,18899,57.4,2722,8.3,46357.0
16,Cypress Hills-City Line,Brooklyn,20340,53.4,1740,4.6,45720.0
17,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,Brooklyn,23003,65.0,2217,6.3,94542.0
18,Dyker Heights,Brooklyn,20636,55.8,1899,5.1,56310.0
19,East Flatbush-Farragut,Brooklyn,24960,57.5,2221,5.1,53207.0
20,East New York,Brooklyn,36424,51.2,4633,6.5,35656.0
21,East New York (Pennsylvania Ave),Brooklyn,10622,48.4,1973,9.0,29183.0
22,East Williamsburg,Brooklyn,20188,63.5,1752,5.5,53891.0
23,Erasmus,Brooklyn,12744,56.1,1430,6.3,42858.0
24,Flatbush,Brooklyn,50422,59.4,4687,5.5,48896.0
25,Flatlands,Brooklyn,33813,58.1,3717,6.4,69459.0
26,Fort Greene,Brooklyn,14851,58.7,1695,6.7,59907.0
27,Georgetown-Marine Park-Bergen Beach-Mill Basin,Brooklyn,22046,58.5,1694,4.5,80660.0
28,Gravesend,Brooklyn,12343,50.1,1502,6.1,38573.0
29,Greenpoint,Brooklyn,21571,71.3,1265,4.2,74283.0
...,...,...,...,...,...,...,...
165,East Tremont,The Bronx,14320,43.2,4001,12.1,22130.0
166,Eastchester-Edenwald-Baychester,The Bronx,15772,56.0,1817,6.5,50231.0
167,Fordham South,The Bronx,11233,53.9,1873,9.0,23992.0
168,Highbridge,The Bronx,14730,51.6,2058,7.2,26281.0
169,Hunts Point,The Bronx,8763,44.5,1036,5.3,22679.0
170,Kingsbridge Heights,The Bronx,14160,58.0,2073,8.5,32458.0
171,Longwood,The Bronx,9934,46.7,1202,5.6,25381.0
172,Melrose South-Mott Haven North,The Bronx,14928,48.3,2248,7.3,24693.0
173,Morrisania-Melrose,The Bronx,14755,48.5,1932,6.4,27931.0
174,Mott Haven-Port Morris,The Bronx,18668,46.9,2748,6.9,21469.0
175,Mount Hope,The Bronx,21343,53.1,3485,8.7,26762.0
176,North Riverdale-Fieldston-Riverdale,The Bronx,12190,54.4,959,4.3,85783.0
177,Norwood,The Bronx,17322,54.0,2958,9.2,32396.0
178,park-cemetery-etc-Bronx,The Bronx,848,60.0,85,6.0,47979.0
179,Parkchester,The Bronx,15587,62.4,2140,8.6,50466.0
180,Pelham Bay-Country Club-City Island,The Bronx,12252,55.6,985,4.5,64636.0
181,Pelham Parkway,The Bronx,14523,59.9,1677,6.9,54087.0
182,Rikers Island,The Bronx,0,NaN,0,NaN,NaN
183,Schuylerville-Throgs Neck-Edgewater Park,The Bronx,21889,56.4,1981,5.1,69686.0
184,Soundview-Bruckner,The Bronx,14917,52.3,2453,8.6,29638.0
185,Soundview-Castle Hill-Clason Point-Harding Park,The Bronx,20592,46.4,2878,6.5,35771.0
186,Spuyten Duyvil-Kingsbridge,The Bronx,15282,59.4,951,3.7,68776.0
187,University Heights-Morris Heights,The Bronx,20629,49.4,2930,7.0,22776.0
188,Van Cortlandt Village,The Bronx,23168,57.9,3332,8.3,42564.0
189,Van Nest-Morris Park-Westchester Square,The Bronx,12899,56.7,2066,9.1,46002.0
190,West Concourse,The Bronx,15067,53.4,2095,7.4,26520.0
191,West Farms-Bronx River,The Bronx,13851,50.8,2150,7.9,29306.0
192,Westchester-Unionport,The Bronx,11755,52.2,2114,9.4,43412.0
193,Williamsbridge-Olinville,The Bronx,27005,53.4,5198,10.3,40791.0
194,Woodlawn-Wakefield,The Bronx,21049,58.7,2487,6.9,57189.0

In [74]:
df_econ = new_data_econ.iloc[:-1, :]
df_econ.rename(columns ={'CvEm16pl1E':'Employed',
                               'CvEm16pl1P':'Employed_%',
                               'CvLFUEm1E':'Unemployed',
                               'CvLFUEm1P':'Unemployed_%',
                               'MdHHIncE':'Median_income'
                              }, inplace=True)

In [75]:
df_econ.to_csv(r'NYC_econ2.csv')

In [117]:
df_econ.to_excel(r'NYC_econ_excel.xlsx')

In [118]:
new_econ = pd.read_excel("NYC_econ_NTA_pd.xlsx")

In [119]:
new_econ.to_csv(r'NYC_econ_NTA_pd.csv')

In [10]:
data_NTA_Pdistrict = pd.read_csv("NTA_POLICE_DISTRICT_NYC.csv")

In [11]:
data_NTA_Pdistrict.head()

,CB2010,BoroCode,BoroName,CT2010,BCTCB2010,BoroCT2010,CDEligibil,NTACode,NTAName,PUMA,...,HealthArea,HCentDist,Precinct,SchoolDist,StSenDist,CongDist,AssemDist,CounDist,BoroCD,ElectDist
0,1000,5,Staten Island,900,50009001000,5000300,I,SI22,West New Brighton-New Brighton-St. George,3903,...,5,51,120,31,23,11,61,49,501,61001
1,1000,5,Staten Island,2001,50020011000,5003600,I,SI37,Stapleton-Rosebank,3903,...,5,51,120,31,23,11,64,49,501,64050
2,1000,5,Staten Island,2700,50027001000,5002100,E,SI37,Stapleton-Rosebank,3903,...,5,51,120,31,23,11,61,49,501,61065
3,1000,5,Staten Island,4000,50040001000,5004000,E,SI08,Grymes Hill-Clifton-Fox Hills,3903,...,5,51,120,31,23,11,61,49,501,61033
4,1000,5,Staten Island,6400,50064001000,5005000,I,SI14,Grasmere-Arrochar-Ft. Wadsworth,3902,...,5,51,122,31,24,11,64,50,502,64037

In [12]:
type(data_NTA_Pdistrict)

pandas.core.frame.DataFrame

In [13]:
data_NTA_Pdistrict_new = data_NTA_Pdistrict[['NTAName','Precinct']]

In [67]:
data_NTA_Pdistrict_new

                                                 NTAName  Precinct
0              West New Brighton-New Brighton-St. George       120
1                                     Stapleton-Rosebank       120
2                                     Stapleton-Rosebank       120
3                          Grymes Hill-Clifton-Fox Hills       120
4                        Grasmere-Arrochar-Ft. Wadsworth       122
5                        Grasmere-Arrochar-Ft. Wadsworth       122
6              West New Brighton-New Brighton-St. George       120
7              West New Brighton-New Brighton-St. George       120
8                      Old Town-Dongan Hills-South Beach       122
9                      Old Town-Dongan Hills-South Beach       122
10                     Old Town-Dongan Hills-South Beach       122
11                                New Dorp-Midland Beach       122
12                              New Brighton-Silver Lake       120
13                                New Dorp-Midland Beach       122
14             West New Brighton-New Brighton-St. George       120
15                                 Oakwood-Oakwood Beach       122
16     Todt Hill-Emerson Hill-Heartland Village-Light...       122
17                                 Oakwood-Oakwood Beach       122
18     Todt Hill-Emerson Hill-Heartland Village-Light...       122
19     Todt Hill-Emerson Hill-Heartland Village-Light...       122
20     Todt Hill-Emerson Hill-Heartland Village-Light...       122
21                                           Great Kills       122
22                                           Westerleigh       120
23            Annadale-Huguenot-Prince's Bay-Eltingville       123
24                     New Springville-Bloomfield-Travis       123
25            Annadale-Huguenot-Prince's Bay-Eltingville       123
26                     New Springville-Bloomfield-Travis       122
27                                           Westerleigh       120
28                                           Westerleigh       121
29                                           Westerleigh       121
...                                                  ...       ...
38759                                           Rosedale       113
38760               Springfield Gardens South-Brookville       105
38761               Springfield Gardens South-Brookville       105
38762               Springfield Gardens South-Brookville       105
38763                  Central Harlem North-Polo Grounds        32
38764                  Central Harlem North-Polo Grounds        32
38765                                    Jackson Heights       114
38766                                    Jackson Heights       115
38767                                    Jackson Heights       115
38768                        Lenox Hill-Roosevelt Island        19
38769                        Lenox Hill-Roosevelt Island        19
38770                        Lenox Hill-Roosevelt Island        19
38771                        Lenox Hill-Roosevelt Island        19
38772             SoHo-TriBeCa-Civic Center-Little Italy         1
38773                                     Manhattanville        26
38774                                Morningside Heights        26
38775                        Lenox Hill-Roosevelt Island       114
38776                        Lenox Hill-Roosevelt Island       114
38777                            park-cemetery-etc-Bronx        45
38778                                          Chinatown         1
38779                                          Chinatown         1
38780                                          Chinatown         1
38781                                          Chinatown         5
38782                                          Chinatown         5
38783    Soundview-Castle Hill-Clason Point-Harding Park        45
38784    Soundview-Castle Hill-Clason Point-Harding Park        45
38785                  Battery Park City-Lower Manhattan         1
38786                  Battery Park City-Lower Manhattan         1
38787                        Lenox Hill-Roosevelt Island       114
38788                        Lenox Hill-Roosevelt Island       114

[38789 rows x 2 columns]

In [15]:
data_NTA_Pdistrict_new_new = data_NTA_Pdistrict.groupby(['Precinct','NTAName']).size()

In [16]:
data_NTA_Pdistrict_new_new

Precinct  NTAName
1         Battery Park City-Lower Manhattan                           188
          Chinatown                                                    11
          SoHo-TriBeCa-Civic Center-Little Italy                      193
          West Village                                                 23
          park-cemetery-etc-Manhattan                                  39
5         Chinatown                                                   130
          SoHo-TriBeCa-Civic Center-Little Italy                       49
6         Hudson Yards-Chelsea-Flatiron-Union Square                    5
          West Village                                                175
7         Chinatown                                                    58
          East Village                                                  1
          Lower East Side                                             132
9         East Village                                                 53
          Gramercy                                                      7
          Hudson Yards-Chelsea-Flatiron-Union Square                    2
          Lower East Side                                              53
          SoHo-TriBeCa-Civic Center-Little Italy                        1
          West Village                                                 33
10        Clinton                                                      38
          Hudson Yards-Chelsea-Flatiron-Union Square                  135
          Midtown-Midtown South                                        20
13        Gramercy                                                     58
          Hudson Yards-Chelsea-Flatiron-Union Square                   27
          Midtown-Midtown South                                         5
          Murray Hill-Kips Bay                                         29
          Stuyvesant Town-Cooper Village                               45
14        Clinton                                                       8
          Gramercy                                                      2
          Midtown-Midtown South                                        67
          Murray Hill-Kips Bay                                         52
                                                                     ...
120       Grymes Hill-Clifton-Fox Hills                               136
          New Brighton-Silver Lake                                    165
          Stapleton-Rosebank                                          243
          West New Brighton-New Brighton-St. George                   261
          Westerleigh                                                 129
121       Mariner's Harbor-Arlington-Port Ivory-Graniteville          251
          New Springville-Bloomfield-Travis                           416
          Port Richmond                                               211
          Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill     88
          West New Brighton-New Brighton-St. George                    16
          Westerleigh                                                 170
122       Annadale-Huguenot-Prince's Bay-Eltingville                    1
          Grasmere-Arrochar-Ft. Wadsworth                             204
          Great Kills                                                 381
          Grymes Hill-Clifton-Fox Hills                                10
          New Dorp-Midland Beach                                      250
          New Springville-Bloomfield-Travis                            57
          Oakwood-Oakwood Beach                                       274
          Old Town-Dongan Hills-South Beach                           272
          Stapleton-Rosebank                                           13
          Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill    214
          Westerleigh                                                  12
          park-cemetery-etc-Staten Island                               3
123       Annadale-Huguenot-Prince's Bay-Eltingville                  514
          Arden Heights                                               158
          Charleston-Richmond Valley-Tottenville                      296
          Great Kills                                                  21
          New Springville-Bloomfield-Travis                            45
          Rossville-Woodrow                                           210
          Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill      1
Length: 498, dtype: int64

In [17]:
data_NTA_Pdistrict_DataFrame = data_NTA_Pdistrict_new_new.to_frame()
data_NTA_Pdistrict_DataFrame

                                                               0
Precinct NTAName
1        Battery Park City-Lower Manhattan                   188
         Chinatown                                            11
         SoHo-TriBeCa-Civic Center-Little Italy              193
         West Village                                         23
         park-cemetery-etc-Manhattan                          39
5        Chinatown                                           130
         SoHo-TriBeCa-Civic Center-Little Italy               49
6        Hudson Yards-Chelsea-Flatiron-Union Square            5
         West Village                                        175
7        Chinatown                                            58
         East Village                                          1
         Lower East Side                                     132
9        East Village                                         53
         Gramercy                                              7
         Hudson Yards-Chelsea-Flatiron-Union Square            2
         Lower East Side                                      53
         SoHo-TriBeCa-Civic Center-Little Italy                1
         West Village                                         33
10       Clinton                                              38
         Hudson Yards-Chelsea-Flatiron-Union Square          135
         Midtown-Midtown South                                20
13       Gramercy                                             58
         Hudson Yards-Chelsea-Flatiron-Union Square           27
         Midtown-Midtown South                                 5
         Murray Hill-Kips Bay                                 29
         Stuyvesant Town-Cooper Village                       45
14       Clinton                                               8
         Gramercy                                              2
         Midtown-Midtown South                                67
         Murray Hill-Kips Bay                                 52
...                                                          ...
120      Grymes Hill-Clifton-Fox Hills                       136
         New Brighton-Silver Lake                            165
         Stapleton-Rosebank                                  243
         West New Brighton-New Brighton-St. George           261
         Westerleigh                                         129
121      Mariner's Harbor-Arlington-Port Ivory-Graniteville  251
         New Springville-Bloomfield-Travis                   416
         Port Richmond                                       211
         Todt Hill-Emerson Hill-Heartland Village-Lighth...   88
         West New Brighton-New Brighton-St. George            16
         Westerleigh                                         170
122      Annadale-Huguenot-Prince's Bay-Eltingville            1
         Grasmere-Arrochar-Ft. Wadsworth                     204
         Great Kills                                         381
         Grymes Hill-Clifton-Fox Hills                        10
         New Dorp-Midland Beach                              250
         New Springville-Bloomfield-Travis                    57
         Oakwood-Oakwood Beach                               274
         Old Town-Dongan Hills-South Beach                   272
         Stapleton-Rosebank                                   13
         Todt Hill-Emerson Hill-Heartland Village-Lighth...  214
         Westerleigh                                          12
         park-cemetery-etc-Staten Island                       3
123      Annadale-Huguenot-Prince's Bay-Eltingville          514
         Arden Heights                                       158
         Charleston-Richmond Valley-Tottenville              296
         Great Kills                                          21
         New Springville-Bloomfield-Travis                    45
         Rossville-Woodrow                                   210
         Todt Hill-Emerson Hill-Heartland Village-Lighth...    1

[498 rows x 1 columns]

In [18]:
type(data_NTA_Pdistrict_DataFrame)

pandas.core.frame.DataFrame

In [19]:
df_NTA_Pd = data_NTA_Pdistrict_DataFrame.iloc[:, :-1]

In [20]:
df_NTA_Pd

Empty DataFrame
Columns: []
Index: [(1, Battery Park City-Lower Manhattan), (1, Chinatown), (1, SoHo-TriBeCa-Civic Center-Little Italy), (1, West Village), (1, park-cemetery-etc-Manhattan), (5, Chinatown), (5, SoHo-TriBeCa-Civic Center-Little Italy), (6, Hudson Yards-Chelsea-Flatiron-Union Square), (6, West Village), (7, Chinatown), (7, East Village), (7, Lower East Side), (9, East Village), (9, Gramercy), (9, Hudson Yards-Chelsea-Flatiron-Union Square), (9, Lower East Side), (9, SoHo-TriBeCa-Civic Center-Little Italy), (9, West Village), (10, Clinton), (10, Hudson Yards-Chelsea-Flatiron-Union Square), (10, Midtown-Midtown South), (13, Gramercy), (13, Hudson Yards-Chelsea-Flatiron-Union Square), (13, Midtown-Midtown South), (13, Murray Hill-Kips Bay), (13, Stuyvesant Town-Cooper Village), (14, Clinton), (14, Gramercy), (14, Midtown-Midtown South), (14, Murray Hill-Kips Bay), (14, Turtle Bay-East Midtown), (17, Murray Hill-Kips Bay), (17, Turtle Bay-East Midtown), (18, Clinton), (18, Lincoln Square), (18, Midtown-Midtown South), (18, Turtle Bay-East Midtown), (18, Upper East Side-Carnegie Hill), (18, park-cemetery-etc-Manhattan), (19, Lenox Hill-Roosevelt Island), (19, Turtle Bay-East Midtown), (19, Upper East Side-Carnegie Hill), (19, Yorkville), (20, Lincoln Square), (20, Upper West Side), (20, park-cemetery-etc-Manhattan), (22, Morningside Heights), (22, Upper East Side-Carnegie Hill), (22, Upper West Side), (22, park-cemetery-etc-Manhattan), (23, East Harlem North), (23, East Harlem South), (23, Upper East Side-Carnegie Hill), (23, Yorkville), (23, park-cemetery-etc-Manhattan), (24, Morningside Heights), (24, Upper West Side), (25, Central Harlem North-Polo Grounds), (25, Central Harlem South), (25, East Harlem North), (25, Yorkville), (25, park-cemetery-etc-Manhattan), (26, Hamilton Heights), (26, Manhattanville), (26, Morningside Heights), (28, Central Harlem North-Polo Grounds), (28, Central Harlem South), (28, East Harlem North), (28, Morningside Heights), (28, park-cemetery-etc-Manhattan), (30, Hamilton Heights), (30, Manhattanville), (32, Central Harlem North-Polo Grounds), (32, Hamilton Heights), (32, park-cemetery-etc-Manhattan), (33, Hamilton Heights), (33, Washington Heights North), (33, Washington Heights South), (33, park-cemetery-etc-Manhattan), (34, Marble Hill-Inwood), (34, Washington Heights North), (34, Washington Heights South), (34, park-cemetery-etc-Manhattan), (40, East Concourse-Concourse Village), (40, Hunts Point), (40, Melrose South-Mott Haven North), (40, Mott Haven-Port Morris), (40, West Concourse), (41, Crotona Park East), (41, Hunts Point), (41, Longwood), (41, Melrose South-Mott Haven North), (41, Morrisania-Melrose), (41, Mott Haven-Port Morris), (41, Soundview-Bruckner), (41, Soundview-Castle Hill-Clason Point-Harding Park), (41, West Farms-Bronx River), (42, Claremont-Bathgate), (42, Crotona Park East), (42, East Concourse-Concourse Village), ...]

[498 rows x 0 columns]

In [21]:
df_NTA_Pd.to_excel(r'NYC_NTA_Pdistrict2.xlsx')

In [22]:
df_NTA_Pd.to_csv(r'NYC_NTA_Pdistrict2.csv')

In [23]:
data_NTA_Pdistrict_new.drop_duplicates(['NTAName']).count()

NTAName     195
Precinct    195
dtype: int64

In [24]:
data_NTA_Pdistrict_new.drop_duplicates(['Precinct']).count()

NTAName     77
Precinct    77
dtype: int64

In [25]:
data_NTA_Pdistrict_new.drop_duplicates(['NTAName'])

                                                 NTAName  Precinct
0              West New Brighton-New Brighton-St. George       120
1                                     Stapleton-Rosebank       120
3                          Grymes Hill-Clifton-Fox Hills       120
4                        Grasmere-Arrochar-Ft. Wadsworth       122
8                      Old Town-Dongan Hills-South Beach       122
11                                New Dorp-Midland Beach       122
12                              New Brighton-Silver Lake       120
15                                 Oakwood-Oakwood Beach       122
16     Todt Hill-Emerson Hill-Heartland Village-Light...       122
21                                           Great Kills       122
22                                           Westerleigh       120
23            Annadale-Huguenot-Prince's Bay-Eltingville       123
24                     New Springville-Bloomfield-Travis       123
30                                         Port Richmond       121
31                                     Rossville-Woodrow       123
34                Charleston-Richmond Valley-Tottenville       123
70                                         Arden Heights       123
81     Mariner's Harbor-Arlington-Port Ivory-Granitev...       121
119                      park-cemetery-etc-Staten Island       122
3002                                     Lower East Side         7
3003                   Battery Park City-Lower Manhattan         1
3008                                           Chinatown         5
3010              SoHo-TriBeCa-Civic Center-Little Italy         1
3014                                        East Village         9
3018                                        West Village         1
3021                                            Gramercy        13
3026                               Midtown-Midtown South        13
3028          Hudson Yards-Chelsea-Flatiron-Union Square         6
3035                                Murray Hill-Kips Bay        14
3038                             Turtle Bay-East Midtown        17
...                                                  ...       ...
15484                                             Corona       110
15494                         Jamaica Estates-Holliswood       103
15516                                            Maspeth       104
15521                                             Hollis       103
15525                                     Middle Village       110
15531                                     Queens Village       105
15542                                    Cambria Heights       105
15560                                           Glendale       104
15588                                           Rosedale       105
15615                                          Rego Park       112
15616               Springfield Gardens South-Brookville       105
15620                                       Forest Hills       112
15643                                  Kew Gardens Hills       107
15651                                           Flushing       109
15652                                    Queensboro Hill       109
15660                                        Murray Hill       109
15666                                      College Point       109
15671                           Hammels-Arverne-Edgemere       100
15672                                         Whitestone       109
15674                             Far Rockaway-Bayswater       101
15677                   Ft. Totten-Bay Terrace-Clearview       109
15683                              Bayside-Bayside Hills       109
15700                                         Auburndale       109
15702                                      East Flushing       109
15713                 Pomonok-Flushing Heights-Hillcrest       107
15735                                    Oakland Gardens       111
15739               Douglas Manor-Douglaston-Little Neck       111
15742                Glen Oaks-Floral Park-New Hyde Park       105
15946                                          Bellerose       105
15993                               Fresh Meadows-Utopia       107

[195 rows x 2 columns]

In [26]:
countNTA = data_NTA_Pdistrict['NTAName'].count()
countNTA

38789

In [27]:
data

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,169180023,09/09/2017 12:00:00 AM,3:57:00,STATEN ISLAND,120,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,959975,171772,40.638126,-74.087467
1,169180027,09/09/2017 12:00:00 AM,22:15:00,BRONX,50,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,1011288,255912,40.869061,-73.902242
2,169180025,09/09/2017 12:00:00 AM,18:35:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,999888,193014,40.696450,-73.943607
3,169180024,09/09/2017 12:00:00 AM,15:20:00,BROOKLYN,67,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,997784,172132,40.639137,-73.951236
4,169180022,09/09/2017 12:00:00 AM,0:20:00,BROOKLYN,61,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,ASIAN / PACIFIC ISLANDER,1001019,156467,40.596134,-73.939619
5,156603440,09/09/2016 12:00:00 AM,20:58:00,BROOKLYN,67,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,<18,M,BLACK,1003592,176432,40.650929,-73.930297
6,156603439,09/09/2016 12:00:00 AM,20:43:00,BRONX,41,0.0,NaN,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,1011370,235889,40.814103,-73.902027
7,156603438,09/09/2016 12:00:00 AM,11:50:00,MANHATTAN,32,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,1001664,239682,40.824538,-73.937081
8,156552658,09/09/2016 12:00:00 AM,0:18:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1044416,183458,40.670030,-73.783113
9,146014287,09/09/2015 12:00:00 AM,23:08:00,BRONX,47,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,1026323,261252,40.883658,-73.847848
10,146014286,09/09/2015 12:00:00 AM,23:00:00,MANHATTAN,28,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998318,231726,40.802707,-73.949188
11,146013532,09/09/2015 12:00:00 AM,19:03:00,BROOKLYN,77,0.0,NaN,True,25-44,M,BLACK,18-24,M,BLACK,1001196,185003,40.674459,-73.938910
12,145992814,09/09/2015 12:00:00 AM,11:54:00,BROOKLYN,70,0.0,MULTI DWELL - APT BUILD,False,<18,M,WHITE HISPANIC,<18,M,WHITE HISPANIC,994904,167484,40.626383,-73.961621
13,138627598,09/09/2014 12:00:00 AM,17:36:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1006587,182075,40.666411,-73.919485
14,92525610,09/09/2013 12:00:00 AM,5:26:00,BROOKLYN,75,0.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,18-24,M,BLACK,1015537,178639,40.656952,-73.887239
15,92507649,09/09/2013 12:00:00 AM,4:35:00,BROOKLYN,79,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,995342,191876,40.693333,-73.960003
16,92507648,09/09/2013 12:00:00 AM,3:55:00,MANHATTAN,17,0.0,BAR/NIGHT CLUB,False,25-44,M,BLACK,25-44,M,BLACK,991876,214311,40.754916,-73.972476
17,92525805,09/09/2013 12:00:00 AM,15:14:00,QUEENS,113,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1050964,189413,40.686328,-73.759450
18,86650273,09/09/2012 12:00:00 AM,2:15:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1051505,190826,40.690203,-73.757485
19,86650272,09/09/2012 12:00:00 AM,2:01:00,MANHATTAN,28,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,997995,230064,40.798146,-73.950358
20,86664788,09/09/2012 12:00:00 AM,23:22:00,STATEN ISLAND,120,0.0,NaN,True,25-44,M,BLACK,18-24,M,BLACK,951991,171198,40.636525,-74.116231
21,86651100,09/09/2012 12:00:00 AM,15:47:00,BROOKLYN,77,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998182,186167,40.677659,-73.949773
22,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,BLACK,18-24,F,BLACK,1007977,246029,40.841944,-73.914249
23,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,F,BLACK,1007977,246029,40.841944,-73.914249
24,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1007977,246029,40.841944,-73.914249
25,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK,1007977,246029,40.841944,-73.914249
26,80667641,09/09/2011 12:00:00 AM,22:43:00,QUEENS,104,0.0,MULTI DWELL - APT BUILD,False,18-24,M,BLACK HISPANIC,<18,M,WHITE HISPANIC,1008657,195934,40.704445,-73.911973
27,80667641,09/09/2011 12:00:00 AM,22:43:00,QUEENS,104,0.0,MULTI DWELL - APT BUILD,False,<18,M,BLACK HISPANIC,<18,M,WHITE HISPANIC,1008657,195934,40.704445,-73.911973
28,80655008,09/09/2011 12:00:00 AM,13:32:00,BROOKLYN,67,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,996921,176967,40.652409,-73.954337
29,80654704,09/09/2011 12:00:00 AM,12:39:00,QUEENS,114,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,18-24,M,BLACK,1009725,215121,40.757105,-73.908048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19678,37421994,01/01/2008 12:00:00 AM,2:30:00,BROOKLYN,71,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998749,181383,40.664527,-73.947739
19679,37401579,01/01/2008 12:00:00 AM,2:09:00,BROOKLYN,73,0.0,NaN,True,18-24,M,BLACK,25-44,M,BLACK,1008276,183623,40.670655,-73.913391
19680,37421980,01/01/2008 12:00:00 AM,0:57:00,MANHATTAN,7,0.0,NaN,False,18-24,M,BLACK,18-24,F,WHITE HISPANIC,989896,200657,40.717440,-73.979634
19681,37421980,01/01/2008 12:00:00 AM,0:57:00,MANHATTAN,7,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,989896,200657,40.717440,-73.979634
19682,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,18-24,M,BLACK,1007072,239961,40.825292,-73.917540
19683,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,18-24,M,BLACK HISPANIC,1007072,239961,40.825292,-73.917540
19684,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,25-44,M,BLACK,1007072,239961,40.825292,-73.917540
19685,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,25-44,M,BLACK HISPANIC,1007072,239961,40.825292,-73.917540
19686,26054095,01/01/2007 12:00:00 AM,3:00:00,BROOKLYN,81,0.0,NaN,False,UNKNOWN,U,UNKNOWN,25-44,M,BLACK,1003656,187150,40.680347,-73.930035
19687,26035867,01/01/2007 12:00:00 AM,2:49:00,BROOKLYN,76,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK HISPANIC,987323,188807,40.684916,-73.988921
19688,26054094,01/01/2007 12:00:00 AM,22:48:00,BRONX,40,2.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,25-44,M,BLACK,1006115,238062,40.820082,-73.921004
19689,26054094,01/01/2007 12:00:00 AM,22:48:00,BRONX,40,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,25-44,M,BLACK,1006115,238062,40.820082,-73.921004
19690,26035864,01/01/2007 12:00:00 AM,1:45:00,MANHATTAN,23,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK,998730,226827,40.789260,-73.947710
19691,26035864,01/01/2007 12:00:00 AM,1:45:00,MANHATTAN,23,0.0,NaN,False,UNKNOWN,M,WHITE HISPANIC,18-24,M,BLACK,998730,226827,40.789260,-73.947710
19692,26035863,01/01/2007 12:00:00 AM,1:01:00,MANHATTAN,26,2.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,25-44,M,BLACK,995517,235873,40.814094,-73.959298
19693,26035863,01/01/2007 12:00:00 AM,1:01:00,MANHATTAN,26,2.0,MULTI DWELL - PUBLIC HOUS,False,25-44,M,BLACK,25-44,M,BLACK,995517,235873,40.814094,-73.959298
19694,26069307,01/01/2007 12:00:00 AM,1:00:00,BRONX,43,2.0,MULTI DWELL - PUBLIC HOUS,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK,1020874,237525,40.818559,-73.867683
19695,26054093,01/01/2007 12:00:00 AM,12:17:00,BROOKLYN,73,0.0,NaN,True,NaN,NaN,NaN,25-44,M,BLACK,1008427,183518,40.670366,-73.912847
19696,26035862,01/01/2007 12:00:00 AM,0:34:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,18-24,F,BLACK,1022952,259687,40.879378,-73.860048
19697,26035862,01/01/2007 12:00:00 AM,0:34:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1022952,259687,40.879378,-73.860048
19698,26035866,01/01/2007 12:00:00 AM,0:15:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,1009869,180290,40.661502,-73.907661
19699,26035869,01/01/2007 12:00:00 AM,0:12:00,BROOKLYN,73,2.0,MULTI DWELL - PUBLIC HOUS,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK HISPANIC,1007628,183445,40.670168,-73.915727
19700,9953246,01/01/2006 12:00:00 AM,5:51:00,BRONX,44,0.0,NONE,False,25-44,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,1007418,243859,40.835990,-73.916276
19701,9953247,01/01/2006 12:00:00 AM,3:30:00,BROOKLYN,67,0.0,NaN,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK,999316,176460,40.651014,-73.945707
19702,9953250,01/01/2006 12:00:00 AM,2:34:00,QUEENS,114,0.0,BAR/NIGHT CLUB,True,18-24,M,BLACK,25-44,M,BLACK,1002577,221583,40.774860,-73.933832
19703,9953250,01/01/2006 12:00:00 AM,2:34:00,QUEENS,114,0.0,BAR/NIGHT CLUB,True,25-44,M,BLACK,25-44,M,BLACK,1002577,221583,40.774860,-73.933832
19704,9953252,01/01/2006 12:00:00 AM,2:22:00,MANHATTAN,28,0.0,NONE,True,25-44,M,BLACK,25-44,M,BLACK,998816,233545,40.807699,-73.947385
19705,9953245,01/01/2006 12:00:00 AM,2:00:00,BRONX,48,0.0,NONE,False,18-24,M,BLACK,<18,M,BLACK,1013405,251801,40.857771,-73.894606
19706,9953248,01/01/2006 12:00:00 AM,19:00:00,QUEENS,106,0.0,NONE,False,18-24,M,BLACK,18-24,M,BLACK,1028605,187930,40.682398,-73.840079
19707,139716503,01/01/2006 12:00:00 AM,12:30:00,BROOKLYN,77,0.0,PVT HOUSE,True,NaN,NaN,NaN,25-44,M,BLACK,996442,184160,40.672153,-73.956050

In [32]:
data_total = data.groupby(['PRECINCT', 'VIC_AGE_GROUP']).size()

In [33]:
data_total

PRECINCT  VIC_AGE_GROUP
1         18-24              6
          25-44              7
          45-64              1
          <18                2
5         18-24              8
          25-44             22
          45-64              2
          65+                1
          <18                6
6         18-24              7
          25-44             11
          45-64              2
          UNKNOWN            1
7         18-24             25
          25-44             27
          45-64              5
          <18               12
9         18-24             35
          25-44             30
          45-64              7
          <18                6
10        18-24             15
          25-44             32
          45-64              3
          <18                1
13        18-24             11
          25-44             21
          45-64              5
          65+                1
          <18                3
                          ...
114       25-44            117
          45-64             15
          65+                3
          <18               14
          UNKNOWN            1
115       18-24             52
          25-44             59
          45-64              1
          65+                1
          <18                6
          UNKNOWN            1
120       18-24            180
          25-44            191
          45-64             29
          65+                4
          <18               54
121       18-24             25
          25-44             27
          45-64              9
          <18                6
122       18-24             21
          25-44             20
          45-64              5
          65+                1
          <18                1
123       18-24              3
          25-44              8
          45-64              7
          65+                2
          <18                2
Length: 374, dtype: int64

In [37]:
data_total_frame = data_total.to_frame()
data_total_frame

                          0
PRECINCT VIC_AGE_GROUP
1        18-24            6
         25-44            7
         45-64            1
         <18              2
5        18-24            8
         25-44           22
         45-64            2
         65+              1
         <18              6
6        18-24            7
         25-44           11
         45-64            2
         UNKNOWN          1
7        18-24           25
         25-44           27
         45-64            5
         <18             12
9        18-24           35
         25-44           30
         45-64            7
         <18              6
10       18-24           15
         25-44           32
         45-64            3
         <18              1
13       18-24           11
         25-44           21
         45-64            5
         65+              1
         <18              3
...                     ...
114      25-44          117
         45-64           15
         65+              3
         <18             14
         UNKNOWN          1
115      18-24           52
         25-44           59
         45-64            1
         65+              1
         <18              6
         UNKNOWN          1
120      18-24          180
         25-44          191
         45-64           29
         65+              4
         <18             54
121      18-24           25
         25-44           27
         45-64            9
         <18              6
122      18-24           21
         25-44           20
         45-64            5
         65+              1
         <18              1
123      18-24            3
         25-44            8
         45-64            7
         65+              2
         <18              2

[374 rows x 1 columns]

In [38]:
data_total_frame.to_excel(r'NYC_total_shooting.xlsx')

In [42]:
data_total_pd_shooting = pd.read_excel('NYC_total_shooting_2.xlsx')

In [43]:
data_total_pd_shooting

    PRECINCT  TOTAL_SHOOTING
0          1              16
1          5              39
2          6              21
3          7              69
4          9              78
5         10              51
6         13              41
7         14              26
8         17               5
9         18              23
10        19               6
11        20              23
12        23             322
13        24              73
14        25             316
15        26             109
16        28             234
17        30             164
18        32             450
19        33             164
20        34             167
21        40             621
22        41             359
23        42             590
24        43             575
25        44             693
26        45             125
27        46             666
28        47             692
29        48             531
..       ...             ...
46        76             126
47        77             576
48        78              42
49        79             772
50        81             617
51        83             394
52        84              79
53        88             224
54        90             233
55        94              57
56       100             123
57       101             352
58       102             139
59       103             442
60       104              77
61       105             344
62       106             154
63       107              67
64       108              36
65       109              78
66       110             110
67       111               3
68       112              17
69       113             622
70       114             237
71       115             120
72       120             458
73       121              67
74       122              48
75       123              22

[76 rows x 2 columns]

In [44]:
data_total_pd_shooting.to_csv(r'NYC_total_shooting_2.csv')

In [45]:
data_boro_pd_shoot = data.groupby(['BORO','PRECINCT', 'VIC_AGE_GROUP']).size()

In [46]:
data_boro_pd_shoot

BORO           PRECINCT  VIC_AGE_GROUP
BRONX          40        18-24            242
                         25-44            267
                         45-64             29
                         65+                3
                         <18               80
               41        18-24            160
                         25-44            140
                         45-64             10
                         65+                3
                         <18               44
                         UNKNOWN            2
               42        18-24            276
                         25-44            205
                         45-64             24
                         65+                1
                         <18               84
               43        18-24            263
                         25-44            214
                         45-64             27
                         65+                2
                         <18               65
                         UNKNOWN            4
               44        18-24            273
                         25-44            272
                         45-64             36
                         65+                5
                         <18              106
                         UNKNOWN            1
               45        18-24             43
                         25-44             60
                                         ...
QUEENS         114       25-44            117
                         45-64             15
                         65+                3
                         <18               14
                         UNKNOWN            1
               115       18-24             52
                         25-44             59
                         45-64              1
                         65+                1
                         <18                6
                         UNKNOWN            1
STATEN ISLAND  120       18-24            180
                         25-44            191
                         45-64             29
                         65+                4
                         <18               54
               121       18-24             25
                         25-44             27
                         45-64              9
                         <18                6
               122       18-24             21
                         25-44             20
                         45-64              5
                         65+                1
                         <18                1
               123       18-24              3
                         25-44              8
                         45-64              7
                         65+                2
                         <18                2
Length: 374, dtype: int64

In [48]:
data_boro_frame = data_boro_pd_shoot.to_frame()
data_boro_frame

                                        0
BORO          PRECINCT VIC_AGE_GROUP
BRONX         40       18-24          242
                       25-44          267
                       45-64           29
                       65+              3
                       <18             80
              41       18-24          160
                       25-44          140
                       45-64           10
                       65+              3
                       <18             44
                       UNKNOWN          2
              42       18-24          276
                       25-44          205
                       45-64           24
                       65+              1
                       <18             84
              43       18-24          263
                       25-44          214
                       45-64           27
                       65+              2
                       <18             65
                       UNKNOWN          4
              44       18-24          273
                       25-44          272
                       45-64           36
                       65+              5
                       <18            106
                       UNKNOWN          1
              45       18-24           43
                       25-44           60
...                                   ...
QUEENS        114      25-44          117
                       45-64           15
                       65+              3
                       <18             14
                       UNKNOWN          1
              115      18-24           52
                       25-44           59
                       45-64            1
                       65+              1
                       <18              6
                       UNKNOWN          1
STATEN ISLAND 120      18-24          180
                       25-44          191
                       45-64           29
                       65+              4
                       <18             54
              121      18-24           25
                       25-44           27
                       45-64            9
                       <18              6
              122      18-24           21
                       25-44           20
                       45-64            5
                       65+              1
                       <18              1
              123      18-24            3
                       25-44            8
                       45-64            7
                       65+              2
                       <18              2

[374 rows x 1 columns]

In [49]:
data_boro_frame.to_excel(r'NYC_boro_pd_shoot_total.xlsx')

In [54]:
data_total_pd_shooting_boro = pd.read_excel('NYC_total_shooting_3.xlsx')

In [55]:
data_total_pd_shooting_boro

             BORO  PRECINCT  TOTAL_SHOOTING
0       MANHATTEN         1              16
1       MANHATTEN         5              39
2       MANHATTEN         6              21
3       MANHATTEN         7              69
4       MANHATTEN         9              78
5       MANHATTEN        10              51
6       MANHATTEN        13              41
7       MANHATTEN        14              26
8       MANHATTEN        17               5
9       MANHATTEN        18              23
10      MANHATTEN        19               6
11      MANHATTEN        20              23
12      MANHATTEN        23             322
13      MANHATTEN        24              73
14      MANHATTEN        25             316
15      MANHATTEN        26             109
16      MANHATTEN        28             234
17      MANHATTEN        30             164
18      MANHATTEN        32             450
19      MANHATTEN        33             164
20      MANHATTEN        34             167
21          BRONX        40             621
22          BRONX        41             359
23          BRONX        42             590
24          BRONX        43             575
25          BRONX        44             693
26          BRONX        45             125
27          BRONX        46             666
28          BRONX        47             692
29          BRONX        48             531
..            ...       ...             ...
46       BROOKLYN        76             126
47       BROOKLYN        77             576
48       BROOKLYN        78              42
49       BROOKLYN        79             772
50       BROOKLYN        81             617
51       BROOKLYN        83             394
52       BROOKLYN        84              79
53       BROOKLYN        88             224
54       BROOKLYN        90             233
55       BROOKLYN        94              57
56         QUEENS       100             123
57         QUEENS       101             352
58         QUEENS       102             139
59         QUEENS       103             442
60         QUEENS       104              77
61         QUEENS       105             344
62         QUEENS       106             154
63         QUEENS       107              67
64         QUEENS       108              36
65         QUEENS       109              78
66         QUEENS       110             110
67         QUEENS       111               3
68         QUEENS       112              17
69         QUEENS       113             622
70         QUEENS       114             237
71         QUEENS       115             120
72  STATEN ISLAND       120             458
73  STATEN ISLAND       121              67
74  STATEN ISLAND       122              48
75  STATEN ISLAND       123              22

[76 rows x 3 columns]

In [56]:
data_total_pd_shooting_boro.to_csv(r'NYC_total_shooting_3.csv')

In [66]:
data

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,169180023,09/09/2017 12:00:00 AM,3:57:00,STATEN ISLAND,120,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,959975,171772,40.638126,-74.087467
1,169180027,09/09/2017 12:00:00 AM,22:15:00,BRONX,50,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,1011288,255912,40.869061,-73.902242
2,169180025,09/09/2017 12:00:00 AM,18:35:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,999888,193014,40.696450,-73.943607
3,169180024,09/09/2017 12:00:00 AM,15:20:00,BROOKLYN,67,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,997784,172132,40.639137,-73.951236
4,169180022,09/09/2017 12:00:00 AM,0:20:00,BROOKLYN,61,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,ASIAN / PACIFIC ISLANDER,1001019,156467,40.596134,-73.939619
5,156603440,09/09/2016 12:00:00 AM,20:58:00,BROOKLYN,67,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,<18,M,BLACK,1003592,176432,40.650929,-73.930297
6,156603439,09/09/2016 12:00:00 AM,20:43:00,BRONX,41,0.0,NaN,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,1011370,235889,40.814103,-73.902027
7,156603438,09/09/2016 12:00:00 AM,11:50:00,MANHATTAN,32,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,1001664,239682,40.824538,-73.937081
8,156552658,09/09/2016 12:00:00 AM,0:18:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1044416,183458,40.670030,-73.783113
9,146014287,09/09/2015 12:00:00 AM,23:08:00,BRONX,47,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,1026323,261252,40.883658,-73.847848
10,146014286,09/09/2015 12:00:00 AM,23:00:00,MANHATTAN,28,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998318,231726,40.802707,-73.949188
11,146013532,09/09/2015 12:00:00 AM,19:03:00,BROOKLYN,77,0.0,NaN,True,25-44,M,BLACK,18-24,M,BLACK,1001196,185003,40.674459,-73.938910
12,145992814,09/09/2015 12:00:00 AM,11:54:00,BROOKLYN,70,0.0,MULTI DWELL - APT BUILD,False,<18,M,WHITE HISPANIC,<18,M,WHITE HISPANIC,994904,167484,40.626383,-73.961621
13,138627598,09/09/2014 12:00:00 AM,17:36:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1006587,182075,40.666411,-73.919485
14,92525610,09/09/2013 12:00:00 AM,5:26:00,BROOKLYN,75,0.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,18-24,M,BLACK,1015537,178639,40.656952,-73.887239
15,92507649,09/09/2013 12:00:00 AM,4:35:00,BROOKLYN,79,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,995342,191876,40.693333,-73.960003
16,92507648,09/09/2013 12:00:00 AM,3:55:00,MANHATTAN,17,0.0,BAR/NIGHT CLUB,False,25-44,M,BLACK,25-44,M,BLACK,991876,214311,40.754916,-73.972476
17,92525805,09/09/2013 12:00:00 AM,15:14:00,QUEENS,113,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1050964,189413,40.686328,-73.759450
18,86650273,09/09/2012 12:00:00 AM,2:15:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1051505,190826,40.690203,-73.757485
19,86650272,09/09/2012 12:00:00 AM,2:01:00,MANHATTAN,28,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,997995,230064,40.798146,-73.950358
20,86664788,09/09/2012 12:00:00 AM,23:22:00,STATEN ISLAND,120,0.0,NaN,True,25-44,M,BLACK,18-24,M,BLACK,951991,171198,40.636525,-74.116231
21,86651100,09/09/2012 12:00:00 AM,15:47:00,BROOKLYN,77,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998182,186167,40.677659,-73.949773
22,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,BLACK,18-24,F,BLACK,1007977,246029,40.841944,-73.914249
23,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,F,BLACK,1007977,246029,40.841944,-73.914249
24,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1007977,246029,40.841944,-73.914249
25,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK,1007977,246029,40.841944,-73.914249
26,80667641,09/09/2011 12:00:00 AM,22:43:00,QUEENS,104,0.0,MULTI DWELL - APT BUILD,False,18-24,M,BLACK HISPANIC,<18,M,WHITE HISPANIC,1008657,195934,40.704445,-73.911973
27,80667641,09/09/2011 12:00:00 AM,22:43:00,QUEENS,104,0.0,MULTI DWELL - APT BUILD,False,<18,M,BLACK HISPANIC,<18,M,WHITE HISPANIC,1008657,195934,40.704445,-73.911973
28,80655008,09/09/2011 12:00:00 AM,13:32:00,BROOKLYN,67,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,996921,176967,40.652409,-73.954337
29,80654704,09/09/2011 12:00:00 AM,12:39:00,QUEENS,114,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,18-24,M,BLACK,1009725,215121,40.757105,-73.908048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19678,37421994,01/01/2008 12:00:00 AM,2:30:00,BROOKLYN,71,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998749,181383,40.664527,-73.947739
19679,37401579,01/01/2008 12:00:00 AM,2:09:00,BROOKLYN,73,0.0,NaN,True,18-24,M,BLACK,25-44,M,BLACK,1008276,183623,40.670655,-73.913391
19680,37421980,01/01/2008 12:00:00 AM,0:57:00,MANHATTAN,7,0.0,NaN,False,18-24,M,BLACK,18-24,F,WHITE HISPANIC,989896,200657,40.717440,-73.979634
19681,37421980,01/01/2008 12:00:00 AM,0:57:00,MANHATTAN,7,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,989896,200657,40.717440,-73.979634
19682,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,18-24,M,BLACK,1007072,239961,40.825292,-73.917540
19683,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,18-24,M,BLACK HISPANIC,1007072,239961,40.825292,-73.917540
19684,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,25-44,M,BLACK,1007072,239961,40.825292,-73.917540
19685,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,25-44,M,BLACK HISPANIC,1007072,239961,40.825292,-73.917540
19686,26054095,01/01/2007 12:00:00 AM,3:00:00,BROOKLYN,81,0.0,NaN,False,UNKNOWN,U,UNKNOWN,25-44,M,BLACK,1003656,187150,40.680347,-73.930035
19687,26035867,01/01/2007 12:00:00 AM,2:49:00,BROOKLYN,76,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK HISPANIC,987323,188807,40.684916,-73.988921
19688,26054094,01/01/2007 12:00:00 AM,22:48:00,BRONX,40,2.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,25-44,M,BLACK,1006115,238062,40.820082,-73.921004
19689,26054094,01/01/2007 12:00:00 AM,22:48:00,BRONX,40,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,25-44,M,BLACK,1006115,238062,40.820082,-73.921004
19690,26035864,01/01/2007 12:00:00 AM,1:45:00,MANHATTAN,23,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK,998730,226827,40.789260,-73.947710
19691,26035864,01/01/2007 12:00:00 AM,1:45:00,MANHATTAN,23,0.0,NaN,False,UNKNOWN,M,WHITE HISPANIC,18-24,M,BLACK,998730,226827,40.789260,-73.947710
19692,26035863,01/01/2007 12:00:00 AM,1:01:00,MANHATTAN,26,2.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,25-44,M,BLACK,995517,235873,40.814094,-73.959298
19693,26035863,01/01/2007 12:00:00 AM,1:01:00,MANHATTAN,26,2.0,MULTI DWELL - PUBLIC HOUS,False,25-44,M,BLACK,25-44,M,BLACK,995517,235873,40.814094,-73.959298
19694,26069307,01/01/2007 12:00:00 AM,1:00:00,BRONX,43,2.0,MULTI DWELL - PUBLIC HOUS,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK,1020874,237525,40.818559,-73.867683
19695,26054093,01/01/2007 12:00:00 AM,12:17:00,BROOKLYN,73,0.0,NaN,True,NaN,NaN,NaN,25-44,M,BLACK,1008427,183518,40.670366,-73.912847
19696,26035862,01/01/2007 12:00:00 AM,0:34:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,18-24,F,BLACK,1022952,259687,40.879378,-73.860048
19697,26035862,01/01/2007 12:00:00 AM,0:34:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1022952,259687,40.879378,-73.860048
19698,26035866,01/01/2007 12:00:00 AM,0:15:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,1009869,180290,40.661502,-73.907661
19699,26035869,01/01/2007 12:00:00 AM,0:12:00,BROOKLYN,73,2.0,MULTI DWELL - PUBLIC HOUS,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK HISPANIC,1007628,183445,40.670168,-73.915727
19700,9953246,01/01/2006 12:00:00 AM,5:51:00,BRONX,44,0.0,NONE,False,25-44,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,1007418,243859,40.835990,-73.916276
19701,9953247,01/01/2006 12:00:00 AM,3:30:00,BROOKLYN,67,0.0,NaN,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK,999316,176460,40.651014,-73.945707
19702,9953250,01/01/2006 12:00:00 AM,2:34:00,QUEENS,114,0.0,BAR/NIGHT CLUB,True,18-24,M,BLACK,25-44,M,BLACK,1002577,221583,40.774860,-73.933832
19703,9953250,01/01/2006 12:00:00 AM,2:34:00,QUEENS,114,0.0,BAR/NIGHT CLUB,True,25-44,M,BLACK,25-44,M,BLACK,1002577,221583,40.774860,-73.933832
19704,9953252,01/01/2006 12:00:00 AM,2:22:00,MANHATTAN,28,0.0,NONE,True,25-44,M,BLACK,25-44,M,BLACK,998816,233545,40.807699,-73.947385
19705,9953245,01/01/2006 12:00:00 AM,2:00:00,BRONX,48,0.0,NONE,False,18-24,M,BLACK,<18,M,BLACK,1013405,251801,40.857771,-73.894606
19706,9953248,01/01/2006 12:00:00 AM,19:00:00,QUEENS,106,0.0,NONE,False,18-24,M,BLACK,18-24,M,BLACK,1028605,187930,40.682398,-73.840079
19707,139716503,01/01/2006 12:00:00 AM,12:30:00,BROOKLYN,77,0.0,PVT HOUSE,True,NaN,NaN,NaN,25-44,M,BLACK,996442,184160,40.672153,-73.956050

In [59]:
dataShootingYear = pd.read_csv("victimShootings.csv")

In [60]:
dataShootingYear.head()

,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Year
0,2017-09-09,3:57:00,STATEN ISLAND,120,25-44,M,BLACK,959975,171772,40.638126,-74.087467,2017
1,2017-09-09,22:15:00,BRONX,50,25-44,M,BLACK HISPANIC,1011288,255912,40.869061,-73.902242,2017
2,2017-09-09,18:35:00,BROOKLYN,79,18-24,M,BLACK,999888,193014,40.696450,-73.943607,2017
3,2017-09-09,15:20:00,BROOKLYN,67,18-24,M,BLACK,997784,172132,40.639137,-73.951236,2017
4,2017-09-09,0:20:00,BROOKLYN,61,25-44,M,ASIAN / PACIFIC ISLANDER,1001019,156467,40.596134,-73.939619,2017

In [61]:
datashootyear = dataShootingYear.groupby(['BORO','PRECINCT', 'Year', 'VIC_AGE_GROUP']).size()

In [62]:
datashootyear

BORO           PRECINCT  Year  VIC_AGE_GROUP
BRONX          40        2006  18-24            21
                               25-44            20
                               45-64             2
                               <18               6
                         2007  18-24            19
                               25-44            27
                               45-64             4
                               65+               2
                               <18               4
                         2008  18-24            20
                               25-44            19
                               45-64             3
                               <18              12
                         2009  18-24            21
                               25-44            41
                               45-64             1
                               <18               8
                         2010  18-24            31
                               25-44            28
                               45-64             3
                               <18               5
                         2011  18-24            36
                               25-44            29
                               45-64             2
                               <18              20
                         2012  18-24            20
                               25-44            27
                               45-64             3
                               65+               1
                               <18               8
                                                ..
STATEN ISLAND  122       2008  25-44             3
                               65+               1
                               <18               1
                         2009  18-24             2
                               45-64             1
                         2010  25-44             1
                         2011  25-44             3
                         2012  18-24             2
                               25-44             6
                         2013  25-44             4
                         2014  18-24             2
                               25-44             1
                         2015  18-24             2
                               45-64             1
                         2016  18-24             2
                         2017  45-64             1
               123       2007  25-44             2
                               45-64             1
                         2008  45-64             1
                               65+               1
                         2009  25-44             1
                               45-64             1
                         2010  25-44             1
                         2011  18-24             3
                               25-44             1
                               45-64             4
                         2015  25-44             3
                               65+               1
                               <18               1
                         2017  <18               1
Length: 2647, dtype: int64

In [63]:
datashootframe = datashootyear.to_frame()

In [64]:
datashootframe

                                            0
BORO          PRECINCT Year VIC_AGE_GROUP
BRONX         40       2006 18-24          21
                            25-44          20
                            45-64           2
                            <18             6
                       2007 18-24          19
                            25-44          27
                            45-64           4
                            65+             2
                            <18             4
                       2008 18-24          20
                            25-44          19
                            45-64           3
                            <18            12
                       2009 18-24          21
                            25-44          41
                            45-64           1
                            <18             8
                       2010 18-24          31
                            25-44          28
                            45-64           3
                            <18             5
                       2011 18-24          36
                            25-44          29
                            45-64           2
                            <18            20
                       2012 18-24          20
                            25-44          27
                            45-64           3
                            65+             1
                            <18             8
...                                        ..
STATEN ISLAND 122      2008 25-44           3
                            65+             1
                            <18             1
                       2009 18-24           2
                            45-64           1
                       2010 25-44           1
                       2011 25-44           3
                       2012 18-24           2
                            25-44           6
                       2013 25-44           4
                       2014 18-24           2
                            25-44           1
                       2015 18-24           2
                            45-64           1
                       2016 18-24           2
                       2017 45-64           1
              123      2007 25-44           2
                            45-64           1
                       2008 45-64           1
                            65+             1
                       2009 25-44           1
                            45-64           1
                       2010 25-44           1
                       2011 18-24           3
                            25-44           1
                            45-64           4
                       2015 25-44           3
                            65+             1
                            <18             1
                       2017 <18             1

[2647 rows x 1 columns]

In [65]:
datashootframe.to_excel(r'NYC_boro_pd_year_shoot.xlsx')

In [76]:
data

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,169180023,09/09/2017 12:00:00 AM,3:57:00,STATEN ISLAND,120,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,959975,171772,40.638126,-74.087467
1,169180027,09/09/2017 12:00:00 AM,22:15:00,BRONX,50,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,1011288,255912,40.869061,-73.902242
2,169180025,09/09/2017 12:00:00 AM,18:35:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,999888,193014,40.696450,-73.943607
3,169180024,09/09/2017 12:00:00 AM,15:20:00,BROOKLYN,67,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,997784,172132,40.639137,-73.951236
4,169180022,09/09/2017 12:00:00 AM,0:20:00,BROOKLYN,61,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,ASIAN / PACIFIC ISLANDER,1001019,156467,40.596134,-73.939619
5,156603440,09/09/2016 12:00:00 AM,20:58:00,BROOKLYN,67,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,<18,M,BLACK,1003592,176432,40.650929,-73.930297
6,156603439,09/09/2016 12:00:00 AM,20:43:00,BRONX,41,0.0,NaN,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,1011370,235889,40.814103,-73.902027
7,156603438,09/09/2016 12:00:00 AM,11:50:00,MANHATTAN,32,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,1001664,239682,40.824538,-73.937081
8,156552658,09/09/2016 12:00:00 AM,0:18:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1044416,183458,40.670030,-73.783113
9,146014287,09/09/2015 12:00:00 AM,23:08:00,BRONX,47,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,1026323,261252,40.883658,-73.847848
10,146014286,09/09/2015 12:00:00 AM,23:00:00,MANHATTAN,28,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998318,231726,40.802707,-73.949188
11,146013532,09/09/2015 12:00:00 AM,19:03:00,BROOKLYN,77,0.0,NaN,True,25-44,M,BLACK,18-24,M,BLACK,1001196,185003,40.674459,-73.938910
12,145992814,09/09/2015 12:00:00 AM,11:54:00,BROOKLYN,70,0.0,MULTI DWELL - APT BUILD,False,<18,M,WHITE HISPANIC,<18,M,WHITE HISPANIC,994904,167484,40.626383,-73.961621
13,138627598,09/09/2014 12:00:00 AM,17:36:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1006587,182075,40.666411,-73.919485
14,92525610,09/09/2013 12:00:00 AM,5:26:00,BROOKLYN,75,0.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,18-24,M,BLACK,1015537,178639,40.656952,-73.887239
15,92507649,09/09/2013 12:00:00 AM,4:35:00,BROOKLYN,79,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,995342,191876,40.693333,-73.960003
16,92507648,09/09/2013 12:00:00 AM,3:55:00,MANHATTAN,17,0.0,BAR/NIGHT CLUB,False,25-44,M,BLACK,25-44,M,BLACK,991876,214311,40.754916,-73.972476
17,92525805,09/09/2013 12:00:00 AM,15:14:00,QUEENS,113,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1050964,189413,40.686328,-73.759450
18,86650273,09/09/2012 12:00:00 AM,2:15:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1051505,190826,40.690203,-73.757485
19,86650272,09/09/2012 12:00:00 AM,2:01:00,MANHATTAN,28,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,997995,230064,40.798146,-73.950358
20,86664788,09/09/2012 12:00:00 AM,23:22:00,STATEN ISLAND,120,0.0,NaN,True,25-44,M,BLACK,18-24,M,BLACK,951991,171198,40.636525,-74.116231
21,86651100,09/09/2012 12:00:00 AM,15:47:00,BROOKLYN,77,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998182,186167,40.677659,-73.949773
22,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,BLACK,18-24,F,BLACK,1007977,246029,40.841944,-73.914249
23,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,F,BLACK,1007977,246029,40.841944,-73.914249
24,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1007977,246029,40.841944,-73.914249
25,80667853,09/09/2011 12:00:00 AM,23:00:00,BRONX,44,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK,1007977,246029,40.841944,-73.914249
26,80667641,09/09/2011 12:00:00 AM,22:43:00,QUEENS,104,0.0,MULTI DWELL - APT BUILD,False,18-24,M,BLACK HISPANIC,<18,M,WHITE HISPANIC,1008657,195934,40.704445,-73.911973
27,80667641,09/09/2011 12:00:00 AM,22:43:00,QUEENS,104,0.0,MULTI DWELL - APT BUILD,False,<18,M,BLACK HISPANIC,<18,M,WHITE HISPANIC,1008657,195934,40.704445,-73.911973
28,80655008,09/09/2011 12:00:00 AM,13:32:00,BROOKLYN,67,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,996921,176967,40.652409,-73.954337
29,80654704,09/09/2011 12:00:00 AM,12:39:00,QUEENS,114,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,18-24,M,BLACK,1009725,215121,40.757105,-73.908048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19678,37421994,01/01/2008 12:00:00 AM,2:30:00,BROOKLYN,71,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998749,181383,40.664527,-73.947739
19679,37401579,01/01/2008 12:00:00 AM,2:09:00,BROOKLYN,73,0.0,NaN,True,18-24,M,BLACK,25-44,M,BLACK,1008276,183623,40.670655,-73.913391
19680,37421980,01/01/2008 12:00:00 AM,0:57:00,MANHATTAN,7,0.0,NaN,False,18-24,M,BLACK,18-24,F,WHITE HISPANIC,989896,200657,40.717440,-73.979634
19681,37421980,01/01/2008 12:00:00 AM,0:57:00,MANHATTAN,7,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,989896,200657,40.717440,-73.979634
19682,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,18-24,M,BLACK,1007072,239961,40.825292,-73.917540
19683,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,18-24,M,BLACK HISPANIC,1007072,239961,40.825292,-73.917540
19684,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,25-44,M,BLACK,1007072,239961,40.825292,-73.917540
19685,26035865,01/01/2007 12:00:00 AM,3:20:00,BRONX,44,0.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK,25-44,M,BLACK HISPANIC,1007072,239961,40.825292,-73.917540
19686,26054095,01/01/2007 12:00:00 AM,3:00:00,BROOKLYN,81,0.0,NaN,False,UNKNOWN,U,UNKNOWN,25-44,M,BLACK,1003656,187150,40.680347,-73.930035
19687,26035867,01/01/2007 12:00:00 AM,2:49:00,BROOKLYN,76,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK HISPANIC,987323,188807,40.684916,-73.988921
19688,26054094,01/01/2007 12:00:00 AM,22:48:00,BRONX,40,2.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,25-44,M,BLACK,1006115,238062,40.820082,-73.921004
19689,26054094,01/01/2007 12:00:00 AM,22:48:00,BRONX,40,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,25-44,M,BLACK,1006115,238062,40.820082,-73.921004
19690,26035864,01/01/2007 12:00:00 AM,1:45:00,MANHATTAN,23,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK,998730,226827,40.789260,-73.947710
19691,26035864,01/01/2007 12:00:00 AM,1:45:00,MANHATTAN,23,0.0,NaN,False,UNKNOWN,M,WHITE HISPANIC,18-24,M,BLACK,998730,226827,40.789260,-73.947710
19692,26035863,01/01/2007 12:00:00 AM,1:01:00,MANHATTAN,26,2.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,25-44,M,BLACK,995517,235873,40.814094,-73.959298
19693,26035863,01/01/2007 12:00:00 AM,1:01:00,MANHATTAN,26,2.0,MULTI DWELL - PUBLIC HOUS,False,25-44,M,BLACK,25-44,M,BLACK,995517,235873,40.814094,-73.959298
19694,26069307,01/01/2007 12:00:00 AM,1:00:00,BRONX,43,2.0,MULTI DWELL - PUBLIC HOUS,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK,1020874,237525,40.818559,-73.867683
19695,26054093,01/01/2007 12:00:00 AM,12:17:00,BROOKLYN,73,0.0,NaN,True,NaN,NaN,NaN,25-44,M,BLACK,1008427,183518,40.670366,-73.912847
19696,26035862,01/01/2007 12:00:00 AM,0:34:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,18-24,F,BLACK,1022952,259687,40.879378,-73.860048
19697,26035862,01/01/2007 12:00:00 AM,0:34:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1022952,259687,40.879378,-73.860048
19698,26035866,01/01/2007 12:00:00 AM,0:15:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,1009869,180290,40.661502,-73.907661
19699,26035869,01/01/2007 12:00:00 AM,0:12:00,BROOKLYN,73,2.0,MULTI DWELL - PUBLIC HOUS,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK HISPANIC,1007628,183445,40.670168,-73.915727
19700,9953246,01/01/2006 12:00:00 AM,5:51:00,BRONX,44,0.0,NONE,False,25-44,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,1007418,243859,40.835990,-73.916276
19701,9953247,01/01/2006 12:00:00 AM,3:30:00,BROOKLYN,67,0.0,NaN,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK,999316,176460,40.651014,-73.945707
19702,9953250,01/01/2006 12:00:00 AM,2:34:00,QUEENS,114,0.0,BAR/NIGHT CLUB,True,18-24,M,BLACK,25-44,M,BLACK,1002577,221583,40.774860,-73.933832
19703,9953250,01/01/2006 12:00:00 AM,2:34:00,QUEENS,114,0.0,BAR/NIGHT CLUB,True,25-44,M,BLACK,25-44,M,BLACK,1002577,221583,40.774860,-73.933832
19704,9953252,01/01/2006 12:00:00 AM,2:22:00,MANHATTAN,28,0.0,NONE,True,25-44,M,BLACK,25-44,M,BLACK,998816,233545,40.807699,-73.947385
19705,9953245,01/01/2006 12:00:00 AM,2:00:00,BRONX,48,0.0,NONE,False,18-24,M,BLACK,<18,M,BLACK,1013405,251801,40.857771,-73.894606
19706,9953248,01/01/2006 12:00:00 AM,19:00:00,QUEENS,106,0.0,NONE,False,18-24,M,BLACK,18-24,M,BLACK,1028605,187930,40.682398,-73.840079
19707,139716503,01/01/2006 12:00:00 AM,12:30:00,BROOKLYN,77,0.0,PVT HOUSE,True,NaN,NaN,NaN,25-44,M,BLACK,996442,184160,40.672153,-73.956050

In [77]:
datadata = pd.read_csv("NYPD_Shooting_Incident_Data.csv")

In [78]:
datadata

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,191703454,12/31/2018,21:45:00,BRONX,47,0.0,HOSPITAL,False,NaN,NaN,NaN,25-44,M,BLACK,"1,023,220","265,927",40.896504,-73.859042
1,191698518,12/31/2018,16:56:00,MANHATTAN,6,0.0,MULTI DWELL - APT BUILD,True,25-44,M,BLACK,45-64,M,WHITE,"982,680","206,254",40.732804,-74.005666
2,191681602,12/30/2018,3:12:00,QUEENS,114,0.0,BAR/NIGHT CLUB,False,NaN,NaN,NaN,25-44,M,BLACK,"1,007,977","217,884",40.764694,-73.914348
3,191681601,12/30/2018,2:22:00,BROOKLYN,75,0.0,GROCERY/BODEGA,False,NaN,NaN,NaN,25-44,M,BLACK,"1,017,442","184,924",40.674196,-73.880342
4,191681604,12/30/2018,15:10:00,BROOKLYN,77,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,"1,001,946","184,888",40.674142,-73.936206
5,191681600,12/28/2018,22:07:00,BRONX,42,0.0,MULTI DWELL - APT BUILD,True,NaN,NaN,NaN,25-44,M,BLACK,"1,014,350","242,239",40.831522,-73.891233
6,191681185,12/28/2018,21:52:00,BRONX,40,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK,"1,006,669","233,631",40.807919,-73.919017
7,191681603,12/28/2018,23:54:00,BROOKLYN,69,0.0,NaN,False,NaN,NaN,NaN,18-24,M,UNKNOWN,"1,010,887","175,381",40.648025,-73.904011
8,191681599,12/28/2018,23:01:00,QUEENS,113,0.0,MULTI DWELL - APT BUILD,False,NaN,NaN,NaN,45-64,M,BLACK,"1,046,405","187,113",40.680049,-73.775909
9,191681185,12/28/2018,21:52:00,BRONX,40,0.0,NaN,False,NaN,NaN,NaN,18-24,M,WHITE HISPANIC,"1,006,669","233,631",40.807919,-73.919017
10,191557604,12/26/2018,17:37:00,QUEENS,103,0.0,NaN,False,45-64,M,BLACK,45-64,M,BLACK,"1,043,556","192,619",40.695181,-73.786132
11,191557605,12/26/2018,16:16:00,MANHATTAN,23,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,"998,784","229,938",40.797799,-73.947508
12,191558082,12/26/2018,19:23:00,MANHATTAN,25,0.0,NaN,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,"1,003,215","229,767",40.797321,-73.931505
13,191513831,12/25/2018,23:30:00,BROOKLYN,81,0.0,NaN,False,18-24,M,BLACK,25-44,M,BLACK,"1,003,927","186,763",40.679284,-73.929059
14,191479841,12/24/2018,0:20:00,BRONX,48,0.0,NaN,False,NaN,NaN,NaN,18-24,F,WHITE HISPANIC,"1,011,811","246,833",40.844140,-73.900389
15,191480610,12/23/2018,5:50:00,BRONX,48,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK HISPANIC,"1,014,898","249,846",40.852400,-73.889218
16,191479842,12/23/2018,20:46:00,MANHATTAN,25,0.0,NaN,False,<18,M,BLACK,<18,M,BLACK,"1,000,856","229,996",40.797955,-73.940025
17,191479843,12/22/2018,1:10:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,"1,005,040","189,271",40.686166,-73.925039
18,191480612,12/22/2018,6:00:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,"1,022,347","261,604",40.884643,-73.862225
19,191479840,12/22/2018,4:03:00,BROOKLYN,73,0.0,BAR/NIGHT CLUB,False,NaN,NaN,NaN,25-44,M,BLACK,"1,008,427","183,518",40.670366,-73.912847
20,191479843,12/22/2018,1:10:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK,"1,005,040","189,271",40.686166,-73.925039
21,191409504,12/21/2018,0:57:00,BRONX,42,0.0,NaN,True,18-24,M,BLACK,25-44,M,BLACK,"1,011,926","242,049",40.831009,-73.899993
22,191479839,12/21/2018,23:30:00,BRONX,50,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,"1,011,326","261,232",40.883662,-73.902083
23,191398449,12/20/2018,0:30:00,BRONX,42,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,"1,010,725","238,488",40.821239,-73.904347
24,191398448,12/20/2018,23:00:00,BRONX,44,0.0,NaN,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,"1,003,363","242,374",40.831924,-73.930935
25,191398917,12/20/2018,18:16:00,BRONX,43,0.0,NaN,True,18-24,M,BLACK,18-24,M,BLACK,"1,025,108","243,208",40.834139,-73.852352
26,191311565,12/18/2018,16:33:00,BROOKLYN,81,2.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,18-24,M,BLACK,"1,005,388","187,682",40.681803,-73.923789
27,191311564,12/18/2018,0:49:00,BROOKLYN,67,0.0,MULTI DWELL - APT BUILD,False,NaN,NaN,NaN,18-24,M,BLACK,"1,008,172","178,080",40.655441,-73.913785
28,191255744,12/16/2018,11:58:00,QUEENS,101,0.0,NaN,True,18-24,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,"1,053,650","158,969",40.602746,-73.750078
29,191255744,12/16/2018,11:58:00,QUEENS,101,0.0,NaN,True,<18,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,"1,053,650","158,969",40.602746,-73.750078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,10038645,01/07/2006,19:29:00,BROOKLYN,69,0.0,PVT HOUSE,True,UNKNOWN,U,UNKNOWN,25-44,M,BLACK,1012422,173575,40.643063,-73.898487
20630,10038640,01/07/2006,5:12:00,QUEENS,110,0.0,NaN,False,UNKNOWN,U,UNKNOWN,25-44,M,WHITE HISPANIC,1020255,210816,40.745253,-73.870063
20631,10038637,01/06/2006,5:28:00,BRONX,44,0.0,NONE,False,25-44,M,BLACK,18-24,M,BLACK,1007237,241770,40.830257,-73.916938
20632,10038637,01/06/2006,5:28:00,BRONX,44,0.0,NONE,False,18-24,M,BLACK,18-24,M,BLACK,1007237,241770,40.830257,-73.916938
20633,10038635,01/06/2006,3:30:00,BRONX,52,0.0,NaN,False,UNKNOWN,M,BLACK,25-44,M,BLACK HISPANIC,1015037,255620,40.868247,-73.888689
20634,10038638,01/06/2006,21:29:00,QUEENS,106,0.0,NONE,False,25-44,M,WHITE,25-44,M,WHITE,1029255,184138,40.671987,-73.837761
20635,10038632,01/05/2006,19:12:00,BRONX,41,0.0,NONE,False,25-44,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,1011607,236142,40.814797,-73.901170
20636,10038631,01/05/2006,15:06:00,BRONX,52,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,1012694,254136,40.864182,-73.897166
20637,10038634,01/05/2006,22:02:00,BROOKLYN,83,0.0,NaN,False,UNKNOWN,M,UNKNOWN,18-24,M,BLACK,1008353,189039,40.685521,-73.913094
20638,10038633,01/05/2006,19:25:00,BROOKLYN,81,0.0,GROCERY/BODEGA,False,45-64,M,BLACK,18-24,M,WHITE HISPANIC,1006211,189585,40.687025,-73.920816
20639,10038624,01/04/2006,3:34:00,QUEENS,105,0.0,BAR/NIGHT CLUB,False,UNKNOWN,M,BLACK,25-44,M,BLACK,1057466,204039,40.726422,-73.735846
20640,10038627,01/04/2006,5:11:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,UNKNOWN,M,UNKNOWN,18-24,M,BLACK,997754,193359,40.697400,-73.951302
20641,10038629,01/04/2006,23:00:00,QUEENS,114,0.0,GROCERY/BODEGA,False,UNKNOWN,M,WHITE HISPANIC,45-64,M,ASIAN / PACIFIC ISLANDER,1007694,219657,40.769561,-73.915363
20642,10038630,01/04/2006,19:17:00,BRONX,42,0.0,FAST FOOD,False,UNKNOWN,M,BLACK,25-44,M,BLACK,1010158,242491,40.832227,-73.906380
20643,9953261,01/03/2006,13:54:00,QUEENS,109,0.0,PVT HOUSE,False,25-44,M,WHITE HISPANIC,25-44,M,WHITE,1026688,224835,40.783703,-73.846758
20644,10038625,01/03/2006,16:25:00,BROOKLYN,73,0.0,CLOTHING BOUTIQUE,True,18-24,M,BLACK HISPANIC,25-44,M,BLACK,1009232,182837,40.668495,-73.909948
20645,9953259,01/03/2006,1:57:00,BROOKLYN,73,0.0,NONE,False,NaN,U,UNKNOWN,25-44,M,BLACK,1007379,185230,40.675068,-73.916619
20646,9953258,01/03/2006,1:48:00,QUEENS,106,0.0,NONE,False,UNKNOWN,M,BLACK,25-44,M,BLACK,1028605,187930,40.682398,-73.840079
20647,9953249,01/02/2006,0:49:00,BROOKLYN,90,2.0,MULTI DWELL - PUBLIC HOUS,True,UNKNOWN,U,UNKNOWN,25-44,M,BLACK,1000067,198311,40.710989,-73.942949
20648,9953257,01/02/2006,10:53:00,STATEN ISLAND,120,0.0,MULTI DWELL - APT BUILD,False,18-24,M,BLACK,18-24,M,BLACK,963024,171639,40.637769,-74.076481
20649,9953255,01/02/2006,3:59:00,BROOKLYN,70,0.0,BAR/NIGHT CLUB,False,18-24,M,BLACK,25-44,M,BLACK HISPANIC,996545,175090,40.647258,-73.955695
20650,9953255,01/02/2006,3:59:00,BROOKLYN,70,0.0,BAR/NIGHT CLUB,False,18-24,M,BLACK,18-24,M,BLACK,996545,175090,40.647258,-73.955695
20651,139716503,01/01/2006,12:30:00,BROOKLYN,77,0.0,PVT HOUSE,True,NaN,NaN,NaN,25-44,M,BLACK,996442,184160,40.672153,-73.956050
20652,9953246,01/01/2006,5:51:00,BRONX,44,0.0,NONE,False,25-44,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,1007418,243859,40.835990,-73.916276
20653,9953245,01/01/2006,2:00:00,BRONX,48,0.0,NONE,False,18-24,M,BLACK,<18,M,BLACK,1013405,251801,40.857771,-73.894606
20654,9953252,01/01/2006,2:22:00,MANHATTAN,28,0.0,NONE,True,25-44,M,BLACK,25-44,M,BLACK,998816,233545,40.807699,-73.947385
20655,9953248,01/01/2006,19:00:00,QUEENS,106,0.0,NONE,False,18-24,M,BLACK,18-24,M,BLACK,1028605,187930,40.682398,-73.840079
20656,9953250,01/01/2006,2:34:00,QUEENS,114,0.0,BAR/NIGHT CLUB,True,25-44,M,BLACK,25-44,M,BLACK,1002577,221583,40.774860,-73.933832
20657,9953250,01/01/2006,2:34:00,QUEENS,114,0.0,BAR/NIGHT CLUB,True,18-24,M,BLACK,25-44,M,BLACK,1002577,221583,40.774860,-73.933832
20658,9953247,01/01/2006,3:30:00,BROOKLYN,67,0.0,NaN,False,UNKNOWN,U,UNKNOWN,18-24,M,BLACK,999316,176460,40.651014,-73.945707

In [81]:
data_total2 = datadata.groupby(['BORO', 'PRECINCT', 'VIC_AGE_GROUP']).size()

In [82]:
data_total2

BORO           PRECINCT  VIC_AGE_GROUP
BRONX          40        18-24            254
                         25-44            286
                         45-64             32
                         65+                3
                         <18               85
               41        18-24            166
                         25-44            148
                         45-64             10
                         65+                3
                         <18               45
                         UNKNOWN            2
               42        18-24            286
                         25-44            226
                         45-64             26
                         65+                1
                         <18               88
               43        18-24            274
                         25-44            225
                         45-64             31
                         65+                2
                         <18               66
                         UNKNOWN            4
               44        18-24            283
                         25-44            304
                         45-64             43
                         65+                6
                         <18              109
                         UNKNOWN            1
               45        18-24             43
                         25-44             63
                                         ...
QUEENS         114       25-44            139
                         45-64             16
                         65+                3
                         <18               15
                         UNKNOWN            1
               115       18-24             52
                         25-44             60
                         45-64              2
                         65+                1
                         <18                6
                         UNKNOWN            1
STATEN ISLAND  120       18-24            184
                         25-44            202
                         45-64             31
                         65+                6
                         <18               55
               121       18-24             25
                         25-44             28
                         45-64              9
                         <18                7
               122       18-24             21
                         25-44             20
                         45-64              5
                         65+                1
                         <18                1
               123       18-24              5
                         25-44              9
                         45-64              7
                         65+                2
                         <18                2
Length: 378, dtype: int64

In [83]:
data_boro_pd_frame = data_total2.to_frame()

In [84]:
data_boro_pd_frame

                                        0
BORO          PRECINCT VIC_AGE_GROUP
BRONX         40       18-24          254
                       25-44          286
                       45-64           32
                       65+              3
                       <18             85
              41       18-24          166
                       25-44          148
                       45-64           10
                       65+              3
                       <18             45
                       UNKNOWN          2
              42       18-24          286
                       25-44          226
                       45-64           26
                       65+              1
                       <18             88
              43       18-24          274
                       25-44          225
                       45-64           31
                       65+              2
                       <18             66
                       UNKNOWN          4
              44       18-24          283
                       25-44          304
                       45-64           43
                       65+              6
                       <18            109
                       UNKNOWN          1
              45       18-24           43
                       25-44           63
...                                   ...
QUEENS        114      25-44          139
                       45-64           16
                       65+              3
                       <18             15
                       UNKNOWN          1
              115      18-24           52
                       25-44           60
                       45-64            2
                       65+              1
                       <18              6
                       UNKNOWN          1
STATEN ISLAND 120      18-24          184
                       25-44          202
                       45-64           31
                       65+              6
                       <18             55
              121      18-24           25
                       25-44           28
                       45-64            9
                       <18              7
              122      18-24           21
                       25-44           20
                       45-64            5
                       65+              1
                       <18              1
              123      18-24            5
                       25-44            9
                       45-64            7
                       65+              2
                       <18              2

[378 rows x 1 columns]

In [90]:
#data_boro_pd_frame.to_excel(r'NYC_boro_pd_shoot_total2.xlsx')

In [91]:
data_total_pd_shooting_boro2 = pd.read_excel('NYC_boro_pd_shoot_total3.xlsx')

In [92]:
data_total_pd_shooting_boro2.to_csv(r'NYC_boro_pd_shoot_total3_3.csv')

In [93]:
dataShootingYear = pd.read_csv("victimShootings.csv")

In [94]:
dataShootingYear

,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Year
0,2018-12-31,21:45:00,BRONX,47,25-44,M,BLACK,"1,023,220","265,927",40.896504,-73.859042,2018
1,2018-12-31,16:56:00,MANHATTAN,6,45-64,M,WHITE,"982,680","206,254",40.732804,-74.005666,2018
2,2018-12-30,3:12:00,QUEENS,114,25-44,M,BLACK,"1,007,977","217,884",40.764694,-73.914348,2018
3,2018-12-30,2:22:00,BROOKLYN,75,25-44,M,BLACK,"1,017,442","184,924",40.674196,-73.880342,2018
4,2018-12-30,15:10:00,BROOKLYN,77,18-24,M,BLACK,"1,001,946","184,888",40.674142,-73.936206,2018
5,2018-12-28,22:07:00,BRONX,42,25-44,M,BLACK,"1,014,350","242,239",40.831522,-73.891233,2018
6,2018-12-28,21:52:00,BRONX,40,45-64,M,BLACK,"1,006,669","233,631",40.807919,-73.919017,2018
7,2018-12-28,23:54:00,BROOKLYN,69,18-24,M,UNKNOWN,"1,010,887","175,381",40.648025,-73.904011,2018
8,2018-12-28,23:01:00,QUEENS,113,45-64,M,BLACK,"1,046,405","187,113",40.680049,-73.775909,2018
9,2018-12-28,21:52:00,BRONX,40,18-24,M,WHITE HISPANIC,"1,006,669","233,631",40.807919,-73.919017,2018
10,2018-12-26,17:37:00,QUEENS,103,45-64,M,BLACK,"1,043,556","192,619",40.695181,-73.786132,2018
11,2018-12-26,16:16:00,MANHATTAN,23,<18,M,BLACK,"998,784","229,938",40.797799,-73.947508,2018
12,2018-12-26,19:23:00,MANHATTAN,25,25-44,M,WHITE HISPANIC,"1,003,215","229,767",40.797321,-73.931505,2018
13,2018-12-25,23:30:00,BROOKLYN,81,25-44,M,BLACK,"1,003,927","186,763",40.679284,-73.929059,2018
14,2018-12-24,0:20:00,BRONX,48,18-24,F,WHITE HISPANIC,"1,011,811","246,833",40.844140,-73.900389,2018
15,2018-12-23,5:50:00,BRONX,48,18-24,M,BLACK HISPANIC,"1,014,898","249,846",40.852400,-73.889218,2018
16,2018-12-23,20:46:00,MANHATTAN,25,<18,M,BLACK,"1,000,856","229,996",40.797955,-73.940025,2018
17,2018-12-22,1:10:00,BROOKLYN,81,25-44,M,BLACK,"1,005,040","189,271",40.686166,-73.925039,2018
18,2018-12-22,6:00:00,BRONX,47,25-44,M,BLACK,"1,022,347","261,604",40.884643,-73.862225,2018
19,2018-12-22,4:03:00,BROOKLYN,73,25-44,M,BLACK,"1,008,427","183,518",40.670366,-73.912847,2018
20,2018-12-22,1:10:00,BROOKLYN,81,45-64,M,BLACK,"1,005,040","189,271",40.686166,-73.925039,2018
21,2018-12-21,0:57:00,BRONX,42,25-44,M,BLACK,"1,011,926","242,049",40.831009,-73.899993,2018
22,2018-12-21,23:30:00,BRONX,50,25-44,M,BLACK,"1,011,326","261,232",40.883662,-73.902083,2018
23,2018-12-20,0:30:00,BRONX,42,25-44,M,BLACK,"1,010,725","238,488",40.821239,-73.904347,2018
24,2018-12-20,23:00:00,BRONX,44,25-44,M,WHITE HISPANIC,"1,003,363","242,374",40.831924,-73.930935,2018
25,2018-12-20,18:16:00,BRONX,43,18-24,M,BLACK,"1,025,108","243,208",40.834139,-73.852352,2018
26,2018-12-18,16:33:00,BROOKLYN,81,18-24,M,BLACK,"1,005,388","187,682",40.681803,-73.923789,2018
27,2018-12-18,0:49:00,BROOKLYN,67,18-24,M,BLACK,"1,008,172","178,080",40.655441,-73.913785,2018
28,2018-12-16,11:58:00,QUEENS,101,18-24,M,WHITE HISPANIC,"1,053,650","158,969",40.602746,-73.750078,2018
29,2018-12-16,11:58:00,QUEENS,101,18-24,M,WHITE HISPANIC,"1,053,650","158,969",40.602746,-73.750078,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
20629,2006-01-07,19:29:00,BROOKLYN,69,25-44,M,BLACK,1012422,173575,40.643063,-73.898487,2006
20630,2006-01-07,5:12:00,QUEENS,110,25-44,M,WHITE HISPANIC,1020255,210816,40.745253,-73.870063,2006
20631,2006-01-06,5:28:00,BRONX,44,18-24,M,BLACK,1007237,241770,40.830257,-73.916938,2006
20632,2006-01-06,5:28:00,BRONX,44,18-24,M,BLACK,1007237,241770,40.830257,-73.916938,2006
20633,2006-01-06,3:30:00,BRONX,52,25-44,M,BLACK HISPANIC,1015037,255620,40.868247,-73.888689,2006
20634,2006-01-06,21:29:00,QUEENS,106,25-44,M,WHITE,1029255,184138,40.671987,-73.837761,2006
20635,2006-01-05,19:12:00,BRONX,41,18-24,M,WHITE HISPANIC,1011607,236142,40.814797,-73.901170,2006
20636,2006-01-05,15:06:00,BRONX,52,18-24,M,WHITE HISPANIC,1012694,254136,40.864182,-73.897166,2006
20637,2006-01-05,22:02:00,BROOKLYN,83,18-24,M,BLACK,1008353,189039,40.685521,-73.913094,2006
20638,2006-01-05,19:25:00,BROOKLYN,81,18-24,M,WHITE HISPANIC,1006211,189585,40.687025,-73.920816,2006
20639,2006-01-04,3:34:00,QUEENS,105,25-44,M,BLACK,1057466,204039,40.726422,-73.735846,2006
20640,2006-01-04,5:11:00,BROOKLYN,79,18-24,M,BLACK,997754,193359,40.697400,-73.951302,2006
20641,2006-01-04,23:00:00,QUEENS,114,45-64,M,ASIAN / PACIFIC ISLANDER,1007694,219657,40.769561,-73.915363,2006
20642,2006-01-04,19:17:00,BRONX,42,25-44,M,BLACK,1010158,242491,40.832227,-73.906380,2006
20643,2006-01-03,13:54:00,QUEENS,109,25-44,M,WHITE,1026688,224835,40.783703,-73.846758,2006
20644,2006-01-03,16:25:00,BROOKLYN,73,25-44,M,BLACK,1009232,182837,40.668495,-73.909948,2006
20645,2006-01-03,1:57:00,BROOKLYN,73,25-44,M,BLACK,1007379,185230,40.675068,-73.916619,2006
20646,2006-01-03,1:48:00,QUEENS,106,25-44,M,BLACK,1028605,187930,40.682398,-73.840079,2006
20647,2006-01-02,0:49:00,BROOKLYN,90,25-44,M,BLACK,1000067,198311,40.710989,-73.942949,2006
20648,2006-01-02,10:53:00,STATEN ISLAND,120,18-24,M,BLACK,963024,171639,40.637769,-74.076481,2006
20649,2006-01-02,3:59:00,BROOKLYN,70,25-44,M,BLACK HISPANIC,996545,175090,40.647258,-73.955695,2006
20650,2006-01-02,3:59:00,BROOKLYN,70,18-24,M,BLACK,996545,175090,40.647258,-73.955695,2006
20651,2006-01-01,12:30:00,BROOKLYN,77,25-44,M,BLACK,996442,184160,40.672153,-73.956050,2006
20652,2006-01-01,5:51:00,BRONX,44,18-24,M,WHITE HISPANIC,1007418,243859,40.835990,-73.916276,2006
20653,2006-01-01,2:00:00,BRONX,48,<18,M,BLACK,1013405,251801,40.857771,-73.894606,2006
20654,2006-01-01,2:22:00,MANHATTAN,28,25-44,M,BLACK,998816,233545,40.807699,-73.947385,2006
20655,2006-01-01,19:00:00,QUEENS,106,18-24,M,BLACK,1028605,187930,40.682398,-73.840079,2006
20656,2006-01-01,2:34:00,QUEENS,114,25-44,M,BLACK,1002577,221583,40.774860,-73.933832,2006
20657,2006-01-01,2:34:00,QUEENS,114,25-44,M,BLACK,1002577,221583,40.774860,-73.933832,2006
20658,2006-01-01,3:30:00,BROOKLYN,67,18-24,M,BLACK,999316,176460,40.651014,-73.945707,2006

In [95]:
datashootyear = dataShootingYear.groupby(['BORO','PRECINCT', 'Year', 'VIC_AGE_GROUP']).size()

In [96]:
datashootyear

BORO           PRECINCT  Year  VIC_AGE_GROUP
BRONX          40        2006  18-24            21
                               25-44            20
                               45-64             2
                               <18               6
                         2007  18-24            19
                               25-44            27
                               45-64             4
                               65+               2
                               <18               4
                         2008  18-24            20
                               25-44            19
                               45-64             3
                               <18              12
                         2009  18-24            21
                               25-44            41
                               45-64             1
                               <18               8
                         2010  18-24            31
                               25-44            28
                               45-64             3
                               <18               5
                         2011  18-24            36
                               25-44            29
                               45-64             2
                               <18              20
                         2012  18-24            20
                               25-44            27
                               45-64             3
                               65+               1
                               <18               8
                                                ..
STATEN ISLAND  122       2008  <18               1
                         2009  18-24             2
                               45-64             1
                         2010  25-44             1
                         2011  25-44             3
                         2012  18-24             2
                               25-44             6
                         2013  25-44             4
                         2014  18-24             2
                               25-44             1
                         2015  18-24             2
                               45-64             1
                         2016  18-24             2
                         2017  45-64             1
               123       2007  25-44             2
                               45-64             1
                         2008  45-64             1
                               65+               1
                         2009  25-44             1
                               45-64             1
                         2010  25-44             1
                         2011  18-24             3
                               25-44             1
                               45-64             4
                         2015  25-44             3
                               65+               1
                               <18               1
                         2017  <18               1
                         2018  18-24             2
                               25-44             1
Length: 2837, dtype: int64

In [97]:
datashootyearframe = datashootyear.to_frame()

In [98]:
datashootyearframe.to_excel(r'NYC_boro_pd_year_shoot2.xlsx')

In [111]:
data_total_pd_shooting_boro_year = pd.read_excel("NYC_boro_pd_year_shoot3.xlsx")
data_total_pd_shooting_boro_year

              BORO  PRECINCT  YEAR  TOTAL_SHOOTING
0            BRONX        40  2006              49
1            BRONX        40  2007              56
2            BRONX        40  2008              54
3            BRONX        40  2009              71
4            BRONX        40  2010              67
5            BRONX        40  2011              87
6            BRONX        40  2012              59
7            BRONX        40  2013              38
8            BRONX        40  2014              42
9            BRONX        40  2015              32
10           BRONX        40  2016              34
11           BRONX        40  2017              32
12           BRONX        40  2018              39
13           BRONX        41  2006              36
14           BRONX        41  2007              41
15           BRONX        41  2008              33
16           BRONX        41  2009              31
17           BRONX        41  2010              31
18           BRONX        41  2011              44
19           BRONX        41  2012              42
20           BRONX        41  2013              18
21           BRONX        41  2014              21
22           BRONX        41  2015              19
23           BRONX        41  2016              30
24           BRONX        41  2017              13
25           BRONX        41  2018              15
26           BRONX        42  2006              43
27           BRONX        42  2007              63
28           BRONX        42  2008              49
29           BRONX        42  2009              64
..             ...       ...   ...             ...
879  STATEN ISLAND       120  2015              30
880  STATEN ISLAND       120  2016              25
881  STATEN ISLAND       120  2017              27
882  STATEN ISLAND       120  2018              20
883  STATEN ISLAND       121  2013               6
884  STATEN ISLAND       121  2014              15
885  STATEN ISLAND       121  2015              12
886  STATEN ISLAND       121  2016              17
887  STATEN ISLAND       121  2017              17
888  STATEN ISLAND       121  2018               2
889  STATEN ISLAND       122  2006               4
890  STATEN ISLAND       122  2007               5
891  STATEN ISLAND       122  2008              11
892  STATEN ISLAND       122  2009               3
893  STATEN ISLAND       122  2010               1
894  STATEN ISLAND       122  2011               3
895  STATEN ISLAND       122  2012               8
896  STATEN ISLAND       122  2013               4
897  STATEN ISLAND       122  2014               3
898  STATEN ISLAND       122  2015               3
899  STATEN ISLAND       122  2016               2
900  STATEN ISLAND       122  2017               1
901  STATEN ISLAND       123  2007               3
902  STATEN ISLAND       123  2008               2
903  STATEN ISLAND       123  2009               2
904  STATEN ISLAND       123  2010               1
905  STATEN ISLAND       123  2011               8
906  STATEN ISLAND       123  2015               5
907  STATEN ISLAND       123  2017               1
908  STATEN ISLAND       123  2018               3

[909 rows x 4 columns]

In [100]:
data_total_pd_shooting_boro_year.to_csv(r'NYC_boro_pd_year_shoot_total.csv')

In [112]:
data_total_pd_shooting_boro_year2 = pd.read_excel("NYC_boro_pd_year_shoot4.xlsx")
data_total_pd_shooting_boro_year2

              BORO  PRECINCT  YEAR  TOTAL_SHOOTING
0        MANHATTEN         1  2007               1
1        MANHATTEN         1  2008               1
2        MANHATTEN         1  2009               1
3        MANHATTEN         1  2010               7
4        MANHATTEN         1  2012               2
5        MANHATTEN         1  2013               1
6        MANHATTEN         1  2015               1
7        MANHATTEN         1  2017               2
8        MANHATTEN         5  2006               3
9        MANHATTEN         5  2008              14
10       MANHATTEN         5  2009               3
11       MANHATTEN         5  2010               1
12       MANHATTEN         5  2011               1
13       MANHATTEN         5  2012               7
14       MANHATTEN         5  2013               2
15       MANHATTEN         5  2014               3
16       MANHATTEN         5  2015               5
17       MANHATTEN         5  2018               2
18       MANHATTEN         6  2006               1
19       MANHATTEN         6  2007               4
20       MANHATTEN         6  2008               2
21       MANHATTEN         6  2009               5
22       MANHATTEN         6  2010               4
23       MANHATTEN         6  2013               1
24       MANHATTEN         6  2014               2
25       MANHATTEN         6  2015               1
26       MANHATTEN         6  2017               1
27       MANHATTEN         6  2018               2
28       MANHATTEN         7  2006               8
29       MANHATTEN         7  2007              12
..             ...       ...   ...             ...
879  STATEN ISLAND       120  2015              30
880  STATEN ISLAND       120  2016              25
881  STATEN ISLAND       120  2017              27
882  STATEN ISLAND       120  2018              20
883  STATEN ISLAND       121  2013               6
884  STATEN ISLAND       121  2014              15
885  STATEN ISLAND       121  2015              12
886  STATEN ISLAND       121  2016              17
887  STATEN ISLAND       121  2017              17
888  STATEN ISLAND       121  2018               2
889  STATEN ISLAND       122  2006               4
890  STATEN ISLAND       122  2007               5
891  STATEN ISLAND       122  2008              11
892  STATEN ISLAND       122  2009               3
893  STATEN ISLAND       122  2010               1
894  STATEN ISLAND       122  2011               3
895  STATEN ISLAND       122  2012               8
896  STATEN ISLAND       122  2013               4
897  STATEN ISLAND       122  2014               3
898  STATEN ISLAND       122  2015               3
899  STATEN ISLAND       122  2016               2
900  STATEN ISLAND       122  2017               1
901  STATEN ISLAND       123  2007               3
902  STATEN ISLAND       123  2008               2
903  STATEN ISLAND       123  2009               2
904  STATEN ISLAND       123  2010               1
905  STATEN ISLAND       123  2011               8
906  STATEN ISLAND       123  2015               5
907  STATEN ISLAND       123  2017               1
908  STATEN ISLAND       123  2018               3

[909 rows x 4 columns]

In [113]:
data_total_pd_shooting_boro_year2.to_csv(r'NYC_boro_pd_year_shoot_total_FINAL.csv')

In [104]:
ffg = pd.read_csv("NYC_boro_pd_shoot_total3_3.csv")

In [107]:
fgfhh = ffg['PRECINCT'] 
fgfhh

0       1
1       5
2       6
3       7
4       9
5      10
6      13
7      14
8      17
9      18
10     19
11     20
12     23
13     24
14     25
15     26
16     28
17     30
18     32
19     33
20     34
21     40
22     41
23     42
24     43
25     44
26     45
27     46
28     47
29     48
     ...
46     76
47     77
48     78
49     79
50     81
51     83
52     84
53     88
54     90
55     94
56    100
57    101
58    102
59    103
60    104
61    105
62    106
63    107
64    108
65    109
66    110
67    111
68    112
69    113
70    114
71    115
72    120
73    121
74    122
75    123
Name: PRECINCT, Length: 76, dtype: int64

In [108]:
rggg = fgfhh.to_frame()

In [110]:
rggg.to_csv(r'NYC_boro_pd_shoot_total3_4.csv')